.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  margin-bottom: 2rem;
}

.title {
  font-size: 1.25rem;
}

.tags {
  font-size: 0.75rem;
}
.tags a:after {
  content: " . ";
}
.tags a:last-child:after {
  content: "";
}

/* START ARTICLE POST STYLE */
/* .px-article h2 {
  @apply text-lg 
}
.px-article h1, h2, h3, h4, h5, h6 {
  @apply mt-8 text-amber-400 font-medium
}

.px-article pre, p, ul {
  @apply mt-4
} */
/* END ARTICLE POST STYLE */